<div class="row">
  <div class="col-sm-2" *ngFor="let photo of photos">
    <div>
      <img [src]="photo.url" class="img-thumbnail p-1" alt="">
      <div class="text-center">
        <button type="button" (click)="changePhoto(photo.id)" [disabled]="photo.isMain" [ngClass]="photo.isMain?'btn btn-sm btn-success':'btn btn-sm btn-outline-success'">main</button>
        <button type="button" (click)="DeletePhoto(photo.id)" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
      </div>
    </div>
  </div>
</div>

<div class="mt-5">

  <form [formGroup]="f" (ngSubmit)="Done()">
    <input  type="file" class="form-control" (change)="uploadPhoto($event)">
    <button [disabled]="f.invalid"  class="btn btn-success mt-3">Upload</button>
  </form>

</div>
