@font-face {
  font-family: "JF-Flat";
  src: url("./assets/fonts/JF-Flat-Regular.ttf");
}

@font-face {
  font-family: "ah-naskh-hadith";
  src: url("./assets/fonts/18410-ah-naskh-hadith.ttf");
}

@font-face {
  font-family: "Droid-Arabic-Kufi-1";
  src: url("./assets/fonts/Droid-Arabic-Kufi-1.ttf");
}

@font-face {
  font-family: "Droid-Sans-Arabic";
  src: url("./assets/fonts/Droid-Sans-Arabic.ttf");
}

@font-face {
  font-family: "Droid-Arabic-Kufi";
  src: url("./assets/fonts/Droid-Arabic-Kufi.ttf");
}


@font-face {
  font-family: "ToyorAljanah";
  src: url("./assets/fonts/ToyorAljanah-Regular.otf");
}
.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid pink; /* pink */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}


.page-header{
  text-align: center !important;
  border-bottom: 4px solid #E95420 !important;
  background-color: #333 !important;
  color:#fff !important;
  font-weight:bolder !important;
  font-family:'JF Flat' !important;
  font-size:1.3rem !important;
  border-radius: 10px !important;
  vertical-align: middle !important;
  display: table-cell;
}
.header-container{
  min-height: 50px;
  display: table;
  width: 33%;
  margin-left: auto;
  margin-right: auto;
}
.role-badge{
  border-radius: 5px !important;
  margin-right: 5px;
  background-color: #E95420 !important;
  color:#fff !important;
  font-family:'arial' !important;
  font-size:0.9rem !important;
  padding: 5px;
}
